<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
    <h1>test</h1>

  
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        const socket = io("http://localhost:8000", {
            extraHeaders: {
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1MGU5NzE2ODMyOTNlNWEyOGU5Zjk1ZSIsImlhdCI6MTY5NTQ1NTAwMiwiZXhwIjoxNjk1NDU1MDE3fQ.zSI8KUNzytcEYL29kEeVY6RnKKs24cr3LqqYfdhMCOE',
            },
        });

        socket.on('notification', (data) => {
            console.log("THIS IS NOFITICATION DATA",data)
        });

    </script>
</body>
</html>
